*{margin: 0;padding: 0;}

.thongtinlienhe {
    font-family: segoe ui;
    color: white;
    background: #27ae60;
    font-size: 14px;
    padding-top: 18px;
}

.xuong:after {content: '';position: absolute;width: 3px;height: 8px;background: white;left: 50%;bottom: 67%;margin-left: -2px;}

.xuong:hover {
    bottom: 4%;
}

.xuong {
    width: 40px;
    height: 77px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    bottom: 2%;
    margin-left: -20px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}

.khoittnho {
    margin-bottom: 55px;
}

.khoittnho p {
    font-size: 13px;
    line-height: 21px;
    color: #4b4b4b;
}

span.motaqt {
    font-size: 14px;
    margin-bottom: 26px;
    display: block;
}

.khoittnho h3.tieudecap3 {
    font-size: 16px;
    margin-bottom: 20px;
    color: #27ae60;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui-monospace;
}


h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}

.tieudeto h1 {
    display: inline;
    background: url(images/ke.png) no-repeat left bottom;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-size: 30px;
}

.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px;
}

a.nuthire.btn.btn-primary {
    width: 180px;
    background: black;
    border: none;
    border-radius: 0px;
}

.tt p {
    color: #373a3c;
    font-size: 16px;
    line-height: 22px;
    width: 50%;
    margin: auto;
    margin-bottom: 34px;
}

.tt h2 {
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 22px;
}

.tt img {
    border-radius: 50%;
    margin-bottom: 38px;
}

.tt {
    position: relative;
    z-index: 2;
    padding-top: 24%;
}

.khoitt1:before {content: "";position: absolute;top: 0;left: 0;background: #27ae60;height: 100%;width: 50%;z-index: 1;}

body ,html {
    height: 100%;
    width: 100%;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #2ecc71;
    position: relative;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    margin:0;
    padding:0;
}

a.navbar-brand {
    margin:0;
    padding:0;
    width: 90px;
}

a.navbar-brand img {
    width: 100%;
}

a.nav-link {
    font-family:segoe ui;
    text-transform:uppercase;
    font-size:13px;
    color:#101010;
    line-height:71px;
}

li.nav-item {
    padding:0;
    margin:0 18px;
}

@media (max-width: 576px) {
	* {}

.xuong {
    left: 93%;
    bottom: 0;
    transform: scale(0.6);
}

h2.tieudecap2.text-sm-left.text-center {
    margin-top: 50px;
}

.tt h2 {
    font-size: 33px;
}

.tt img {
    width: 52%;
    margin-top: 63px;
}

a.nav-link {
    padding: 0;
    margin: 0;
    text-align:center;
     line-height:50px;
}

li.nav-item {
    padding: 0;
    margin: 0;
    border-top:1px dashed #e5dedebd
}

a.navbar-brand {
    display: block;
    padding: 15px;
}
}