*{margin: 0;padding: 0;}

.khoitt1:before {content: "";position: absolute;top: 0;left: 0;background: #27ae6047;height: 100%;width: 50%;}

body ,html {
    height: 100%;
    width: 100%;
}

.khoitt1 {
    height: 100%;
    width: 100%;
    background: #2ecc71;
    position: relative;
}
nav.navbar.navbar-expand-lg.navbar-dark.bg-dark {
    margin:0;
    padding:0;
}

a.navbar-brand {
    margin:0;
    padding:0;
    width: 90px;
}

a.navbar-brand img {
    width: 100%;
}

a.nav-link {
    font-family:segoe ui;
    text-transform:uppercase;
    font-size:13px;
    color:#101010;
    line-height:71px;
}

li.nav-item {
    padding:0;
    margin:0 18px;
}

@media (max-width: 576px) {
	* {}

a.nav-link {
    padding: 0;
    margin: 0;
    text-align:center;
     line-height:50px;
}

li.nav-item {
    padding: 0;
    margin: 0;
    border-top:1px dashed #e5dedebd
}

a.navbar-brand {
    display: block;
    padding: 15px;
}
}