@media only screen and (min-width: 992px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    /* Style */
    /* Menu */
    #menu {
        width: 100%;
        height: 60px;
    }
    #menu ul {
        margin: 0 0 0 4%;
        padding: 21px 0px;
        list-style-type: none;  
    }
    .menu-m {
        display: none;
    }

    #menu ul li:nth-child(1) {
        float: left;
    }
    #menu ul li:nth-child(2) {
        float: left;
    }
    #menu ul li:nth-child(3) {
        float: right;
        padding-right: 4%;
    }
    #menu ul li:nth-child(4) {
        float: right;
    }
    #menu ul li:nth-child(5) {
        float: right;
    }
    #menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: gray;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px 15px;
        transition: 0.4s;
    }
    #menu ul li a:hover{
        text-decoration: underline;
        font-weight: bold;
    }
    /* Banner */
    #banner {
        width: 100%;
        height: auto;
        position:relative;
        color: white;
        margin-bottom: -23px;
    }
    #banner img{
        width: 100%;
        height: auto;
    }
    #banner h1 {
        position: absolute;
        top: 15%;
        left: 4%;
        font-size: 4vw;
        font-weight: bold;
        font-family: "Times New Roman", Times, serif;
    }
    #banner p {
        position: absolute;
        top: 37%;
        left: 4%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5vw;
    }
    #banner {
        color: white;
    }
    #banner hr {
        display: none;
    }
    /* Main content */
    #main-content {
        width: 100%;
        height: auto;
        background-color:#efefef;
        font-family: Arial, Helvetica, sans-serif;
    }
    #main-content h2{
        margin-left: 4%;
        padding-top: 30px;
    }
    #main-content p{
        margin-left: 4%;
    }
    #main-content .img-table {
        width: 100%; 
    }
    #main-content .img-table div img{
        display: block;
        width: 100%;
        margin-bottom: 9%;
    }
    .col{
    display: inline-block;
    width: 28%;
    height: auto;
    margin-left: 4%;  
    }
    /* Footer */
    #footer{
        background-color: #f7f7f7;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    #footer h3{
        font-family: "Times New Roman", Times, serif;
    }
    #footer p{
        font-family: Arial, Helvetica, sans-serif;
    }
    #footer a{
        text-decoration: none;
        color: #49aeff;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.4s;
    }
    #footer a:hover{
        text-decoration: underline;
        font-weight: bold;
    }
}
